<mat-sidenav-container class="container" fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="pages/user">
        <mat-icon>group</mat-icon>
        <span>User List</span>
      </a>
      <a mat-list-item routerLink="pages/task">
        <mat-icon>task</mat-icon>
        <span>Dynamic Form</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <h2 class="title">User Management System</h2>

    <a mat-button [matMenuTriggerFor]="login">
      <mat-icon>account_circle</mat-icon>Login
    </a>

    <mat-menu #login>
      <button mat-menu-item [routerLink]="['/common/login', 'user']">User Login</button>
    </mat-menu>
  </mat-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</mat-sidenav-container>